# Archivos de entorno
.env
.env.*

# Bases de datos SQLite
*.db
*.db-journal

# Archivos de log o temporales
*.log
__pycache__/
*.pyc

# Archivos de Node / React
node_modules/
dist/

# Medios generados por los usuarios
static/uploads/
uploads/
media/
