flask
flask-socketio
python-dotenv
requests
gunicorn
openpyxl
mysql-connector-python
openai>=1.35.0
vosk
ffmpeg-python
uvicorn[standard]
a2wsgi>=1.10
asgiref
concurrent-futures; python_version < "3.2"
tzdata
